{% extends "admin-layout.html.twig" %}

{% block page_title %}Change Password  {% endblock %}
{% block page_subtitle %} {{ app.user.getName() }} {% endblock %}

{% block page_content %}
    <div class="row">
        <div class="col-md-6">
            <div class="box box-primary">
                {% trans_default_domain 'FOSUserBundle' %}
				{{ form_start(form, { 'action': path('admin_change_password'), 'attr': { 'class': 'admin_change_password' } }) }}
				    <div class="box-body">
				        {{ form_widget(form) }}
				    </div>
				    <!-- End of box-body-->
				    <div class="box-footer">
				        <input type="submit" value="{{ 'change_password.submit'|trans }}" class="btn btn-success" />
				        <a class="btn btn-danger pull-right" href="{{ path('admin_profile_show') }}">Cancel </a>
				    </div>
				{{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}